@font-face {
  font-family: Inter;
  font-display: swap;
  src: url('../fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url('../static/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url('../static/Inter-Regular	.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Onest;
  font-display: swap;
  src: url('../static/OnestBold1602-hint.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Onest;
  font-display: swap;
  src: url('../static/OnestMedium1602-hint.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
